::selection {
  background: hotpink;
  color: black;
}

:root {
  background: #518;
  color: #ec0;
}

:any-link {
  color: #de1;
}

@media (prefers-contrast: more) {
  :root {
    background: #201;
    color: peachpuff;
  }
}
